h1 {
    text-align: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field input {
    width: 150px;
    margin-bottom: 2%;
}

.input-field button {
    width: 75px;
    margin-bottom: 2%;
}

table {
    border-collapse: collapse;

}

.expense-display {
    display: flex;
    justify-content: center;
}

.expense-table th, td  {
    padding: .5em;
    border: 1px solid black;
    width: 100px;
}

footer {
    position: absolute;
    bottom: 0;
}