.form-container {
    max-width: 400px;
}

.header {
    text-align: center;
    margin: 20px 0;
}

.delete-column {
    margin-top: 1px;
    border: none;
    float: left;
    max-width: 55px;
    padding: 0px;
}

.expense-table {
    margin-top: 20px;
}